{
	"plugins": ["prettier-plugin-tailwindcss"],
	"semi": true,
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"trailingComma": "all"
}
